<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.dshalom.weathermonitor2"
    android:versionCode="5"
    android:versionName="2.0" >

    <uses-sdk android:minSdkVersion="8" 
        android:targetSdkVersion="15"/>

    <uses-permission android:name="android.permission.INTERNET" >
    </uses-permission>
S
    <application
        android:icon="@drawable/launcher"
        android:label="@string/app_name" >
        <activity
            android:name="com.dshalom.weathermonitor.WeatherMonitorActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name="com.dshalom.weathermonitor.PrefsActivity" 
            android:label="@string/preferences"
            android:icon="@drawable/launcher">
           
        </activity>
    </application>

</manifest>