<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.dshalom.weathermonitor"
    android:versionCode="3"
    android:versionName="1.11" >

    <uses-sdk android:minSdkVersion="8" 
        android:targetSdkVersion="8"
        android:maxSdkVersion="14"/>

    <uses-permission android:name="android.permission.INTERNET" >
    </uses-permission>

    <application
        android:icon="@drawable/launcher"
        android:label="@string/app_name" >
        <activity
            android:name=".WeatherMonitorActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ConfigActivity"
            android:label="Configuration" >
        </activity>
        <activity android:name=".PrefsActivity"></activity>
    </application>

</manifest>